In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
# Load the full stats dataset
full_data = pd.read_csv("nba_merged_data.csv")  # Update with your actual filename

In [7]:
game_stats_df

,SEASON_YEAR,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,AST_RATIO_RANK,OREB_PCT_RANK,DREB_PCT_RANK,REB_PCT_RANK,TM_TOV_PCT_RANK,EFG_PCT_RANK,TS_PCT_RANK,PACE_RANK,PIE_RANK,PLAYOFF_WINS
0,2023-24,1610612737,ATL,Atlanta Hawks,22301188,2024-04-14T00:00:00,ATL @ IND,L,48.0,39,...,50,66,62,78,65,59,45,7,81,0
1,2023-24,1610612737,ATL,Atlanta Hawks,22301178,2024-04-12T00:00:00,ATL @ MIN,L,48.0,40,...,62,54,9,30,54,63,68,36,72,0
2,2023-24,1610612737,ATL,Atlanta Hawks,22301159,2024-04-10T00:00:00,ATL vs. CHA,L,48.0,43,...,2,59,4,15,78,6,11,59,36,0
3,2023-24,1610612737,ATL,Atlanta Hawks,22301147,2024-04-09T00:00:00,ATL vs. MIA,L,58.0,45,...,53,14,3,4,53,79,81,81,52,0
4,2023-24,1610612737,ATL,Atlanta Hawks,22301130,2024-04-06T00:00:00,ATL @ DEN,L,48.0,37,...,23,74,21,75,58,64,55,17,79,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23953,2014-15,1610612764,WAS,Washington Wizards,21400063,2014-11-05T00:00:00,WAS vs. IND,W,53.0,34,...,51,63,72,74,14,77,70,64,43,6
23954,2014-15,1610612764,WAS,Washington Wizards,21400051,2014-11-04T00:00:00,WAS @ NYK,W,48.0,39,...,18,27,80,58,25,20,30,74,10,6
23955,2014-15,1610612764,WAS,Washington Wizards,21400031,2014-11-01T00:00:00,WAS vs. MIL,W,48.0,40,...,15,65,74,69,66,6,6,7,9,6
23956,2014-15,1610612764,WAS,Washington Wizards,21400016,2014-10-30T00:00:00,WAS @ ORL,W,48.0,39,...,50,70,8,49,19,26,20,32,38,6
23957,2014-15,1610612764,WAS,Washington Wizards,21400007,2014-10-29T00:00:00,WAS @ MIA,L,48.0,36,...,55,71,64,73,41,32,29,60,67,6

In [12]:
unique_season_team = full_data[full_data['PLAYOFF_WINS'] == 16][['SEASON_YEAR', 'TEAM_NAME']].drop_duplicates()
print(unique_season_team)

      SEASON_YEAR              TEAM_NAME
82        2023-24         Boston Celtics
3034      2022-23         Denver Nuggets
5658      2021-22  Golden State Warriors
8532      2020-21        Milwaukee Bucks
10442     2019-20     Los Angeles Lakers
13872     2018-19        Toronto Raptors
14856     2017-18  Golden State Warriors
17316     2016-17  Golden State Warriors
19448     2015-16    Cleveland Cavaliers
22236     2014-15  Golden State Warriors